@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
    box-sizing: border-box;
}

body {
    background: #1C1F2B;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#accordion {
    width: 80%;
    margin: 50px auto;
    height: 100%;
}

.col-1 {
    display: inline;
    width: 50%;
    float: left;
    padding-inline-start: 0px;
    padding-right: 1%;
}
.col-2 {
    display: inline;
    width: 50%;
    float: left;
    padding-inline-start: 0px;
    padding-left: 1%;
}
.col-3 {
    display: inline-block;
    width: 100%;
    padding: 1%;
    padding-inline-start: 0px;
}

#accordion ul {
    width: 100%;
    padding-inline-start: 0px;
}

#accordion ul li {
    color: #fff;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    font-family: "roboto", sans-serif;
    padding: 0.4em;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 0.2em;
    transition: 0.3s ease all;
    text-transform: uppercase; 
}

#accordion ul li:nth-of-type(1),
#accordion ul li:nth-of-type(3),
#accordion ul li:nth-of-type(5), 
#accordion ul li:nth-of-type(7), 
#accordion ul li:nth-of-type(9), 
#accordion ul li:nth-of-type(11), 
#accordion ul li:nth-of-type(13), 
#accordion ul li:nth-of-type(15), 
#accordion ul li:nth-of-type(17), 
#accordion ul li:nth-of-type(19), 
#accordion ul li:nth-of-type(21), 
#accordion ul li:nth-of-type(23), 
#accordion ul li:nth-of-type(25), 
#accordion ul li:nth-of-type(27), 
#accordion ul li:nth-of-type(29), 
#accordion ul li:nth-of-type(31), 
#accordion ul li:nth-of-type(33), 
#accordion ul li:nth-of-type(35),
#accordion ul li:nth-of-type(37),
#accordion ul li:nth-of-type(39 { 
    background-color: #30354a; 
}

#accordion ul li:nth-of-type(2),
#accordion ul li:nth-of-type(4),
#accordion ul li:nth-of-type(6), 
#accordion ul li:nth-of-type(8), 
#accordion ul li:nth-of-type(10), 
#accordion ul li:nth-of-type(12), 
#accordion ul li:nth-of-type(14), 
#accordion ul li:nth-of-type(16), 
#accordion ul li:nth-of-type(18), 
#accordion ul li:nth-of-type(20), 
#accordion ul li:nth-of-type(22), 
#accordion ul li:nth-of-type(24), 
#accordion ul li:nth-of-type(26), 
#accordion ul li:nth-of-type(28), 
#accordion ul li:nth-of-type(30), 
#accordion ul li:nth-of-type(32),
#accordion ul li:nth-of-type(34),
#accordion ul li:nth-of-type(36),
#accordion ul li:nth-of-type(38),
#accordion ul li:nth-of-type(40) { 
    background-color: #454c69; 
}

#accordion ul li:hover { 
    color: #2196f3; 
}

#accordion .page-title {
    color: #fff;
    text-align: center; 
    font-size: 1.4em;
    text-transform: uppercase; 
}

#accordion .language {
    color: #fff;
    text-align: center; 
    font-size: 1.1em;
    text-transform: uppercase; 
    padding-inline-start: 0px;
}

.panel {
    display: none;
    padding: 25px;
    margin: 10px;
    font-family: "roboto", sans-serif;
    padding: 0.4em;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    background-color: #fff;
}

.panel h1 {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
    padding-bottom: 20px;
}

.panel .song{
    display: block;
    margin-bottom: 30px;
}

.panel .title {
    color: #333;
    display: inline;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 20px 20px 75px;
}

.panel a {
    padding: 10px;
    text-decoration: none;
    border: 3px solid #044070;
    border-radius: 25px;
    font-size: 0.7em;
    background: #044070;
    color: #fff;
}

.panel  a:hover {
    color: #044070;
    background: #fff;
}

@media (max-width: 1400px) {
    #accordion {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
    .col-1 {
        display: block;
        width: 100%;
    }
    .col-2 {
        display: block;
        width: 100%;
    }
    .panel {
        width: 98vw;
        margin: 0;
    }
    .panel h1 {
        text-align: center;
        font-size: 0.9em;
        font-weight: bold;
        color: #333;
        padding-bottom: 10px;
    }
    .panel .title {
        color: #333;
        display: block;
        text-align: left;
        font-size:  0.7em;
        font-weight: bold;
        padding: 0px 15px 0px 35px;
        margin-bottom: 2px;
    }
    .panel a {
        margin-left: 55px;
        padding: 5px;
        text-decoration: none;
        border: 3px solid #044070;
        border-radius: 25px;
        font-size: 0.6em;
        background: #044070;
        color: #fff;
    }
}
